::ng-deep .mat-card {
    width: 200px;
    height: 300px;
}

.home-container {
    background: lightgrey;
    border: 1px solid darkgrey;
    /* background-image: url(../../assets/fruits.png);
    background-size: cover; */
}

.card-display {
    color: white;
    text-align: center;
    font-size: 20px;
}

.align {
    justify-content: center;
}

::ng-deep .added-container .mat-card {
    height: auto !important;
    min-height: 300px;
    margin: 0 auto;
}

.logout-button {
    position: absolute;
    right: 35px;
    top: 27px;
    font-size: 35px;
}

.header-class {
    background: #87ceeb;
    height: 10%;
    width: 100%;
}